body {
    background-color: #e7e8ec !important;
}

.navbar {
    background-color: #fff !important;
}

.content {
    padding-top: 15px;
    justify-content: center;
}

.error-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #5181b8;
    text-align: center;
    font-family: sans-serif;
}

.description-error {
    font-size: 29px;
    text-transform: uppercase;
}

.error-code {
    font-size: 150px;
    line-height: 0.7;
}

.bi {
    font-size: 380px;
    color: #30a0ff14;
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}