body {
    background-color: #e7e8ec !important;
}

.content {
    padding-top: 15px;
    justify-content: center;
}

.error-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.short-error {
    margin: 11px 0 22px;
}

.error-message a {
    text-decoration: none;
}

.logo {
    color: #5181b8;
    font-size: 48px;
}

.description-error-message {
    overflow-wrap: anywhere;
}

.error-message {
    align-self: center;
}

ins {
    color: #777;
    text-decoration: none;
}