body {
    background-color: #e7e8ec !important;
}

.content {
    padding-top: 15px;
    justify-content: center;
}

.post {
    background-color: #fff;
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 15px;
    max-width: 55rem;
}

.group-title {
    font-weight: bold;
    font-size: large;
}

.inner-text {
    padding: 10px 0 10px 0;
    max-width: 675px;
    overflow-wrap: break-word;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0 10px 0;
}

.post a {
    text-decoration: none;
    color: #5181b8;
}

.groups {
    margin-bottom: 15px;
}

.group {
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 0 10px 15px;
    margin-bottom: 5px;
}

.group .title {
    font-size: larger;
    text-decoration: none;
    color: #5181b8;
}

.created-at {
    font-size: small;
}

.group .status {
    font-size: small;
}

.post-user-controls {
    border-top: 1px solid #c9c9c9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

.likes,
.dislikes {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.likes button,
.dislikes button {
    background: transparent;
    border: none;
}

.like-btn.active .like-icon,
.dislike-btn.active .dislike-icon {
    color: #676767;
}

.like-icon,
.dislike-icon {
    color: #5181b8;
}

.new-group-btn {
    width: 100%;
    margin-bottom: 10px;
}

.attachments {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 15px;
}

.attachments > div {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.attachments > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.no-posts-message {
    text-align: center;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    background: white;
    padding: 60px;
    border-radius: 10px;
}

.no-posts-message .bi {
    font-size: 80px;
    color: cornflowerblue;
}

.no-posts-message div {
    font-size: 21px;
    color: #5984d3;
}

.feed {
    height: 80vh;
    display: table;
}

.section-title {
    font-size: 40px;
    margin-bottom: 3px;
    color: #7b98cb
}

.group-picture {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 100%;
    margin-right: 15px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.group-header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.link-img {
    border: 1px solid #7b98cb33;
}

.link-inner {
    align-items: center;
    display: flex;
}

.comment-form {
    margin-top: 10px;
}

.comment-btn .bi {
    color: #676767;
}

.comment-btn[aria-expanded=true] .bi {
    color: #5181b8;
}

.comments {
    margin-top: 10px;
}

.comment-user-picture {
    width: 128px;
    height: 128px;
    position: relative;
    border-radius: 5px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.comment-by {
    color: black !important;
    font-weight: 600;
    font-size: 18px;
}

.comment-user-picture-container {
    width: inherit !important;
}

.comments .card {
    position: relative;
}

.remove-comment-btn {
    position: absolute;
    border: none;
    font-size: 35px;
    color: black;
    padding: 0;
    background: none;
    margin: 0;
    line-height: 0;
    right: 0;
    top: 0;
}