body {
    background-color: #e7e8ec !important;
}

.content {
    padding-top: 15px;
    justify-content: center;
}

.group-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-header {
    background-color: white;
    border-radius: 4px;
    padding: 20px 30px;
    width: 80%;
    margin-bottom: 15px;
}

.group-header-top {
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-bottom: 10px;
}

.group-title {
    font-size: 28px;
    font-weight: bold;
}

.status {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 5px;
    max-width: 345px;
}

.description-btn {
    padding: 0;
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    color: #5181b8;
    margin: 0 0 10px;
}

.group-controls {
    display: flex;
    justify-content: space-between;
}

.add-post-btn,
.leave-btn,
.follow-btn,
.remove-group-btn {
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    padding: 5px 15px;
    text-decoration: none;
    margin: 0;
    height: 40px;
}

.leave-btn {
    background-color: #676767;
    border: 1px solid #676767;
    margin-left: 10px;
}

.remove-group-btn {
    background-color: darkred;
    border: 1px solid darkred;
    margin-left: 10px;
}

.add-post-btn,
.follow-btn {
    background-color: #5181b8;
    border: 1px solid #5181b8;
}

.add-post-btn:hover {
    color: #ececec;
}

.follow-btn:hover {
    background-color: #456f9f;
}

.posts {
    width: 80%;
}

.post {
    background-color: #fff;
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 15px;
}

.post-group-title {
    font-weight: bold;
    font-size: large;
}

.inner-text {
    padding: 10px 0 10px 0;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0 10px 0;
}

.post a {
    text-decoration: none;
    color: #5181b8;
}

.description {
    font-size: 15px;
    margin-bottom: 30px;
}

.contact {
    background-color: #5181b8;
    border-radius: 5px;
    border-color: #5181b8;
    padding: 10px;
    color: white;
}

.contact-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.contact-link:hover {
    color: #c2c2c2;
}

.contact-name {
    font-size: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-controls {
    display: flex;
    align-items: center;
}

.edit-btn,
.remove-btn {
    background: transparent;
    border: none;
    margin-left: 10px;
}

.remove-btn {
    font-size: 30px;
    color: red;
}

.edit-btn {
    font-size: 20px;
    color: #5181b8;
}

.post-user-controls {
    border-top: 1px solid #c9c9c9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

.likes,
.dislikes {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.likes button,
.dislikes button {
    background: transparent;
    border: none;
}

.like-btn.active .like-icon,
.dislike-btn.active .dislike-icon {
    color: #676767;
}

.like-icon,
.dislike-icon {
    color: #5181b8;
}

.attachments {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 15px;
}

.attachments > div {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.attachments > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.remove-pfp-btn {
    background: red;
    border: none;
    font-size: 17px;
    color: white;
    border-radius: 100%;
    padding: 1px;
    margin: 0;
    line-height: 0;
}

.group-picture {
    width: 128px;
    height: 128px;
    position: relative;
    border-radius: 5px;
    margin-right: 20px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.group-info-picture {
    display: flex;
    align-items: center;
}

.btn {
    margin-left: 10px !important;
}

.link-img {
    border: 1px solid #7b98cb33;
}

.link-inner {
    align-items: center;
    display: flex;
}

.comment-form {
    margin-top: 10px;
}

.comment-btn .bi {
    color: #676767;
}

.comment-btn[aria-expanded=true] .bi {
    color: #5181b8;
}

.comments {
    margin-top: 10px;
}

.comment-user-picture {
    width: 128px;
    height: 128px;
    position: relative;
    border-radius: 5px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.comment-by {
    color: black !important;
    font-weight: 600;
    font-size: 18px;
}

.comment-user-picture-container {
    width: inherit !important;
}

.comments .card {
    position: relative;
}

.remove-comment-btn {
    position: absolute;
    border: none;
    font-size: 35px;
    color: black;
    padding: 0;
    background: none;
    margin: 0;
    line-height: 0;
    right: 0;
    top: 0;
}
