body {
    background-color: #e7e8ec !important;
}

.content {
    padding-top: 15px;
    justify-content: center;
}

.groups {
    margin-bottom: 15px;
}

.group {
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 0 10px 15px;
    margin-bottom: 5px;
}

.group .title {
    font-size: larger;
    text-decoration: none;
    color: #5181b8;
}

.group .status {
    font-size: small;
}

.section-title {
    font-size: 40px;
    margin-bottom: 3px;
    color: #7b98cb
}

.new-group-btn {
    width: 100%;
    margin-bottom: 10px;
    max-width: 120px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group-picture {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 100%;
    margin-right: 15px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.group-header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}