body {
    background-color: #e7e8ec !important;
}

.content {
    padding-top: 15px;
}

.login-form {
    background-color: #fff;
    border-radius: 4px;
    padding: 30px 30px 20px 30px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.login-btn {
    background-color: #5181b8 !important;
    border-color: #5181b8 !important;
}

.post {
    background-color: #fff;
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 15px;
}

.group-title {
    font-weight: bold;
    font-size: large;
}

.inner-text {
    padding: 10px 0 10px 0;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 10px 0 10px 0;
}

.post a {
    text-decoration: none;
    color: #5181b8;
}

.group {
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 0 10px 15px;
    margin-bottom: 5px;
}

.group .title {
    font-size: larger;
    text-decoration: none;
    color: #5181b8;
}

.created-at {
    font-size: small;
}

.group .status {
    font-size: small;
}


.post-user-controls {
    border-top: 1px solid #c9c9c9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

.likes,
.dislikes {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.like-icon,
.dislike-icon {
    color: #5181b8;
}

.like-count,
.dislike-count {
    padding-left: 5px;
}

.attachments {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 15px;
}

.attachments > div {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.attachments > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.login-controls {
    display: flex;
    align-items: center;
}

.sign-up {
    margin-left: 20px;
    text-decoration: none;
}

.group-picture {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 100%;
    margin-right: 15px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.group-header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.link-img {
    border: 1px solid #7b98cb33;
}

.link-inner {
    align-items: center;
    display: flex;
}

.card-body {
    overflow-wrap: anywhere;
}