body {
    background-color: #e7e8ec !important;
}

.content {
    padding-top: 15px;
    justify-content: center;
}

.group-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-header {
    background-color: white;
    border-radius: 4px;
    padding: 20px 30px;
    width: 80%;
    margin-bottom: 15px;
}

.group-header-top {
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-bottom: 10px;
}

.group-title {
    font-size: 28px;
    font-weight: bold;
}

.status {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 5px;
    max-width: 345px;
}

.description-btn {
    padding: 0;
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    color: #5181b8;
    margin: 0 0 10px;
}

.description {
    font-size: 15px;
    margin-bottom: 30px;
}

.contact {
    background-color: #5181b8;
    border-radius: 5px;
    border-color: #5181b8;
    padding: 10px;
    color: white;
}

.contact-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.contact-link:hover {
    color: #c2c2c2;
}

.contact-name {
    font-size: 10px;
}

.post {
    width: 80%;
    background-color: #fff;
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 15px;
}

.post-group-title {
    font-weight: bold;
    font-size: large;
}

.inner-text {
    padding: 10px 0 10px 0;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.posted-by,
.post h5 {
    text-decoration: none;
    color: #5181b8;
}

.info-label {
    margin-bottom: 5px;
    width: 80%;
}

.info-label-inner {
    padding: 10px !important;
    text-align: center;
}

.info-label-inner h5 {
    margin-bottom: 0;
    color: #626d7a;
}

.input-group {
    margin: 10px 0;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.group-picture {
    width: 128px;
    height: 128px;
    position: relative;
    border-radius: 5px;
    margin-right: 20px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.group-info-picture {
    display: flex;
    align-items: center;
}

.card {
    position: relative;
}

#remove-link {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    background: none;
    border: none;
    text-align: center;
    line-height: 0;
}

.link-img {
    border: 1px solid #7b98cb33;
}

.link-inner {
    align-items: center;
    display: flex;
}