body {
    background-color: #e7e8ec !important;
}

.content {
    padding-top: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-registration-form {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.section-title {
    font-size: 40px;
    margin-bottom: 20px;
    color: #7b98cb
}