body {
    background-color: #e7e8ec !important;
}

.content {
    padding-top: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bi {
    font-size: 100px;
}

.info-label {
    font-size: 20px;
}

.email {
    color: gray;
}