body {
    background-color: #e7e8ec !important;
}

.content {
    padding-top: 15px;
}

.user {
    margin-bottom: 20px;
    padding: 10px;
}

.user-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pfp {
    width: 128px;
    height: 128px;
    position: relative;
    border-radius: 5px;
    margin-right: 20px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.remove-pfp-btn {
    background: red;
    border: none;
    font-size: 17px;
    color: white;
    border-radius: 100%;
    padding: 1px;
    margin: 0;
    line-height: 0;
}

.bday-label {
    margin-bottom: 5px !important;
}

.groups {
    margin-bottom: 15px;
}

.group {
    background-color: #fff;
    border-radius: 2px;
    padding: 10px 0 10px 15px;
    margin-bottom: 5px;
}

.group .title {
    font-size: larger;
    text-decoration: none;
    color: #5181b8;
    font-weight: bold;
}

.created-at {
    font-size: small;
}

.group .status {
    font-size: small;
}

.post {
    background-color: #fff;
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 15px;
}

.group-title {
    font-weight: bold;
    font-size: large;
}

.inner-text {
    padding: 10px 0 10px 0;
}

.post-meta {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin: 10px 0 10px 0;
}

.post a {
    text-decoration: none;
    color: #5181b8;
}

.info-label {
    margin-bottom: 5px;
}

.info-label-inner {
    padding: 10px !important;
    text-align: center;
}

.info-label-inner h5 {
    margin-bottom: 0;
    color: #626d7a;
}

.attachments {
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-gap: 15px;
}

.attachments > div {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.attachments > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.group-picture {
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 100%;
    margin-right: 15px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.group-header {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}

.link-img {
    border: 1px solid #7b98cb33;
}

.link-inner {
    align-items: center;
    display: flex;
}