body {
    background-color: #e7e8ec !important;
}

.content {
    padding-top: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.user-edit-form {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.section-title {
    font-size: 40px;
    margin-bottom: 20px;
    color: #7b98cb
}

.pfp {
    width: 64px;
    height: 64px;
    position: relative;
    border-radius: 5px;
    margin-right: 20px;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    border: 1px solid #7b98cc9c;
}

.user-picture-input {
    display: flex;
    justify-content: left;
    align-items: center;
}