<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<body>
<nav class="navbar navbar-light" th:fragment="header(user)">
    <div sec:authorize="!isAuthenticated()" class="container">
        <a class="navbar-brand" href="/">
            VKClone
        </a>
    </div>
    <div sec:authorize="isAuthenticated()" class="container">
        <a class="navbar-brand" href="/feed">
            VKClone
        </a>
        <div class="profile">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><h6 class="dropdown-header">Profile</h6></li>
                    <li><a class="dropdown-item" th:href="@{|/user/${user.id}|}">View</a></li>
                    <li><a class="dropdown-item" th:href="@{|/user|}">Edit</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><h6 class="dropdown-header">Security</h6></li>
                    <li><a class="dropdown-item" th:href="@{|/user/changePassword|}">Change password</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript: document.logoutForm.submit()">Logout</a>

                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden type="submit" value="Sign Out"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
</body>
</html>