<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/assets/css/header.css}" href="../static/assets/css/header.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/changePassword.css}" href="../static/assets/css/changePassword.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="fragments/header :: header(${authorizedUser})"></div>
<div class="container content">
    <div class="section-title">Change password</div>
    <form th:method="POST" th:object="${changePasswordDto}" class="row g-3 password-change-form">
        <div class="col-md-12">
            <label for="inputOldPassword" class="form-label">Old Password</label>
            <input required th:field="*{oldPassword}" name="oldPassword" type="password" class="form-control" id="inputOldPassword">
        </div>

        <div class="col-md-12">
            <label for="inputNewPassword" class="form-label">New Password</label>
            <input required th:field="*{password}" name="newPassword" type="password" class="form-control" id="inputNewPassword">
        </div>

        <div class="col-md-12">
            <label for="inputNewPasswordConfirmation" class="form-label">Confirm New Password</label>
            <input required th:field="*{confirmPassword}" name="newPasswordConfirmation" type="password" class="form-control" id="inputNewPasswordConfirmation">
        </div>

        <input type="hidden" th:value="${authorizedUser.id}" th:name="userId" />
        <input type="hidden" th:value="${_csrf.getToken()}" th:name="${_csrf.getParameterName()}" />
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Set Password</button>
        </div>
    </form>
</div>
</body>
</html>