<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Group</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/assets/css/header.css" rel="stylesheet" th:href="@{/assets/css/header.css}" type="text/css"/>
    <link href="../static/assets/css/editGroup.css" rel="stylesheet" th:href="@{/assets/css/editGroup.css}"
          type="text/css"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header(${user})"></div>
<div class="container content">
    <div class="section-title">Edit group</div>
    <form class="row g-3 new-group-form" enctype="multipart/form-data" th:action="@{/group/edit}" th:method="POST"
          th:object="${group}">
        <div class="col-md-4">
            <label class="form-label" for="inputName">Group Name</label>
            <input class="form-control" id="inputName" name="name" required th:field="*{name}" type="text">
        </div>
        <div class="col-md-8">
            <label class="form-label" for="inputStatus">Status</label>
            <input class="form-control" id="inputStatus" name="status" th:field="*{status}" type="text">
        </div>
        <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea aria-label="With textarea" class="form-control" name="text" th:field="*{description}"></textarea>
        </div>
        <div class="mb-3 group-picture-input">
            <img class="group-picture" th:if="${group.groupPicture} == null"
                 th:src="@{/assets/img/blank-profile-picture.png}">
            <div class="group-picture" th:if="${group.groupPicture} != null"
                 th:styleappend="'background-image: url(' + |data:${group.groupPicture.getType()};base64,${group.groupPicture.getBase64()}| + ');'">
            </div>
            <div class="mb-3">
                <label class="form-label" for="pfp">Group picture</label>
                <input accept="image/*" class="form-control" id="pfp" name="pfp" type="file">
            </div>
        </div>
        <input name="ownerId" th:value="${user.id}" type="hidden"/>
        <input th:field="*{id}" th:value="*{id}" type="hidden"/>
        <input th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}" type="hidden"/>
        <div class="controls">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
</div>
</body>
</html>