<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Something has happened</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/assets/css/header.css}" href="../static/assets/css/header.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/defaultError.css}" href="../static/assets/css/defaultError.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container content">
    <div class="row gx-5 error-inner">
        <div class="col-lg-8 col-md-12 error-message">
            <a th:href="@{/feed}">
                <div class="logo">VKClone</div>
            </a>
            <div class="error-info">
                <div class="short-error"><strong th:text="${errorStatus ?: 500}">400.</strong> <ins>That's an error.</ins></div>
                <div class="description-error">
                    <div th:text="'Error Occurred, please contact system administrator.'" class="description-error-message">Only owner can do it.</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <img th:src="@{/assets/img/robot.png}" src="../static/assets/img/robot.png" alt="error">
        </div>
    </div>
</div>
</body>
</html>