<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feed</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/assets/css/header.css" rel="stylesheet" th:href="@{/assets/css/header.css}" type="text/css"/>
    <link href="../static/assets/css/feed.css" rel="stylesheet" th:href="@{/assets/css/feed.css}" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header(${user})"></div>
<div class="container content">
    <div class="row gx-5">
        <div class="section-title">Feed</div>
        <div class="col-lg-8 col-md-12 feed">
            <div class="no-posts-message" th:if="${posts.numberOfElements == 0}">
                <i class="bi bi-chat-left-fill"></i>
                <div>You don't follow any groups</div>
            </div>
            <div class="post" th:each="post : ${posts}">
                <a class="group-title" th:href="@{|/group/${post.groupId}|}" th:text="${post.groupName}">Name</a>
                <div class="inner-text" th:text="${post.text}">Text</div>
                <div class="attachments" th:if="${not #lists.isEmpty(post.images)}">
                    <div th:each="image : ${post.images}">
                        <img alt="" th:src="|data:${image.getType()};base64,${image.getBase64()}|">
                    </div>
                </div>
                <div class="link" th:if="${post.linkAttachment != null}">
                    <div class="card mb-3">
                        <div class="card-header text-truncate"
                             th:if="${post.linkAttachment.image.isBlank() || post.linkAttachment.title.isBlank()}"
                             th:text="${post.linkAttachment.url}"></div>
                        <div class="row g-0">
                            <div class="col-md-4" th:if="${!post.linkAttachment.image.isBlank()}">
                                <img class="link-img img-fluid rounded-start" th:alt="${post.linkAttachment.imageAlt}"
                                     th:src="${post.linkAttachment.image}">
                            </div>
                            <div class="col-md-8 link-inner">
                                <div class="card-body">
                                    <h5 class="card-title" th:if="${!post.linkAttachment.title.isBlank()}"
                                        th:text="${post.linkAttachment.title}">Card title</h5>
                                    <h5 class="card-title"
                                        th:if="${post.linkAttachment.title.isBlank() && post.linkAttachment.desc.isBlank()}">
                                        Link</h5>
                                    <p class="card-text"
                                       th:if="${!post.linkAttachment.desc.isBlank()}"
                                       th:text="${post.linkAttachment.desc}">Desc</p>
                                    <a class="stretched-link" target="_blank" th:href="${post.linkAttachment.url}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-meta">
                    <a class="posted-by" th:href="@{|/user/${post.userId}|}" th:text="${post.userLogin}">User</a>
                    <div class="created-at" th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></div>
                </div>
                <div class="post-user-controls">
                    <div class="likes">
                        <form th:action="@{|/group/posts/react|}" th:method="post" th:object="${userReaction}">
                            <input name="userId" th:value="${user.id}" type="hidden"/>
                            <input name="postId" th:value="${post.id}" type="hidden"/>
                            <input name="like" th:value="${true}" type="hidden"/>
                            <button class="like-btn"
                                    th:classappend="${post.likedByAuthorized == true} ? disabled : active"
                                    type="submit">
                                <i class="like-icon bi bi-hand-thumbs-up-fill"></i>
                            </button>
                        </form>
                        <div class="like-count" th:text="${post.likesCount}">0</div>
                    </div>
                    <div class="dislikes">
                        <form th:action="@{|/group/posts/react|}" th:method="post" th:object="${userReaction}">
                            <input name="userId" th:value="${user.id}" type="hidden"/>
                            <input name="postId" th:value="${post.id}" type="hidden"/>
                            <input name="like" th:value="${false}" type="hidden"/>
                            <button class="dislike-btn"
                                    th:classappend="${post.likedByAuthorized == false} ? disabled : active">
                                <i class="dislike-icon bi bi-hand-thumbs-down-fill"></i>
                            </button>
                        </form>
                        <div class="dislike-count" th:text="${post.dislikesCount}">0</div>
                    </div>
                    <a aria-expanded="false" class="comment-btn" data-bs-toggle="collapse"
                       th:href="@{|#commentsCollapse${post.id}|}">
                        <i class="bi bi-chat-fill"></i>
                    </a>
                </div>
                <div class="comments" th:if="${not #lists.isEmpty(post.comments)}">
                    <div class="collapse" th:id="'commentsCollapse' + ${post.id}">
                        <div class="card mb-3" th:each="comment : ${post.comments}">
                            <form th:action="@{|/group/comments/delete|}"
                                  th:if="${comment.user.id.equals(user.id) || comment.post.group.owner.id.equals(user.id)}"
                                  th:method="post">
                                <input name="commentId" th:value="${comment.id}" type='hidden'>
                                <button class="remove-comment-btn" type='submit'><i class="bi bi-x"></i></button>
                            </form>
                            <div class="row g-0">
                                <div class="comment-user-picture-container col-md-4">
                                    <img class="comment-user-picture img-fluid rounded-start"
                                         th:if="${comment.user.profilePicture} == null"
                                         th:src="@{/assets/img/blank-profile-picture.png}">
                                    <div class="comment-user-picture" th:if="${comment.user.profilePicture} != null"
                                         th:styleappend="'background-image: url(' + |data:${comment.user.profilePicture.getType()};base64,${comment.user.profilePicture.getBase64()}| + ');'">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a class="comment-by card-title" th:href="@{|/user/${comment.user.id}|}"
                                           th:text="${comment.user.username}">User</a>
                                        <p class="card-text" th:text="${comment.text}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="comment-form" th:action="@{|/group/posts/comment|}" th:method="post"
                      th:object="${userComment}">
                    <input name='user.id' th:value="${user.id}" type='hidden'>
                    <input name='post.id' th:value="${post.id}" type='hidden'>
                    <div class="input-group mb-3">
                        <input aria-describedby="button-addon2" class="form-control" name="text"
                               placeholder="Leave a comment..." required
                               th:field="*{text}" type="text">
                        <button class="comment-send-btn btn btn-outline-secondary" type="submit">
                            <i class="bi bi-send"></i>
                        </button>
                    </div>
                </form>
            </div>
            <ul class="pagination justify-content-center" th:if="${posts.totalPages > 1}">
                <li th:class="page-item">
                    <a class="page-link" th:href="@{/feed(feedPageNumber=0)}"><i class="bi bi-chevron-double-left"></i></a>
                </li>
                <li th:class="page-item" th:classappend="${feedPage.pageNumber} > 0 ? enabled : disabled">
                    <a class="page-link" th:href="@{/feed(feedPageNumber=${feedPage.pageNumber}-1)}"><i
                            class="bi bi-caret-left-fill"></i></a>
                </li>
                <li class="page-item"
                    th:classappend="${feedPage.pageNumber} == ${pageNumber} - 1 ? active : ''"
                    th:each=" pageNumber : ${#numbers.sequence(T(Math).max(1, feedPage.pageNumber + 1 - 2), T(Math).min(feedPage.pageNumber + 3, posts.totalPages))}">
                    <a class="page-link" th:href="@{/feed(feedPageNumber=${pageNumber}-1)}"
                       th:text="${pageNumber}">1</a>
                </li>
                <li class="page-item"
                    th:classappend="${feedPage.pageNumber} + 1 < ${posts.totalPages} ? enabled : disabled">
                    <a class="page-link" th:href="@{/feed(feedPageNumber=${feedPage.pageNumber}+1)}"><i
                            class="bi bi-caret-right-fill"></i></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/feed(feedPageNumber=${posts.totalPages} - 1)}"><i
                            class="bi bi-chevron-double-right"></i></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-3">
            <a class="btn btn-outline-primary new-group-btn" th:href="@{|/groups|}">
                View All
            </a>
            <div class="groups">
                <div class="group" th:each="group : ${groups}">
                    <div class="group-header">
                        <img class="group-picture" th:if="${group.groupPicture} == null"
                             th:src="@{/assets/img/blank-profile-picture.png}">
                        <div class="group-picture" th:if="${group.groupPicture} != null"
                             th:styleappend="'background-image: url(' + |data:${group.groupPicture.getType()};base64,${group.groupPicture.getBase64()}| + ');'">
                        </div>
                        <a class="title" th:href="@{|/group/${group.id}|}" th:text="${group.name}">Group</a>
                    </div>
                    <div class="status" th:text="${group.status}">Status</div>
                </div>
            </div>
            <ul class="pagination justify-content-center" th:if="${groups.totalPages > 1}">
                <li th:class="page-item">
                    <a class="page-link" th:href="@{/feed(groupPageNumber=0)}"><i class="bi bi-chevron-double-left"></i></a>
                </li>
                <li th:class="page-item" th:classappend="${groupsPage.pageNumber} > 0 ? enabled : disabled">
                    <a class="page-link" th:href="@{/feed(groupPageNumber=${groupsPage.pageNumber}-1)}"><i
                            class="bi bi-caret-left-fill"></i></a>
                </li>
                <li class="page-item"
                    th:classappend="${groupsPage.pageNumber} == ${pageNumber} - 1 ? active : ''"
                    th:each=" pageNumber : ${#numbers.sequence(T(Math).max(1, groupsPage.pageNumber + 1 - 1), T(Math).min(groupsPage.pageNumber + 2, groups.totalPages))}">
                    <a class="page-link" th:href="@{/feed(groupPageNumber=${pageNumber}-1)}"
                       th:text="${pageNumber}">1</a>
                </li>
                <li class="page-item"
                    th:classappend="${groupsPage.pageNumber} + 1 < ${groups.totalPages} ? enabled : disabled">
                    <a class="page-link" th:href="@{/feed(groupPageNumber=${groupsPage.pageNumber}+1)}"><i
                            class="bi bi-caret-right-fill"></i></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/feed(groupPageNumber=${groups.totalPages} - 1)}"><i
                            class="bi bi-chevron-double-right"></i></a>
                </li>
            </ul>
            <form method="get" th:action="@{/feed}">
                <div class="input-group mb-3">
                    <input aria-describedby="button-addon2" aria-label="Recipient's username" class="form-control"
                           name="groupName" pattern=".{3,}"
                           placeholder="Group name"
                           required type="text">
                    <button class="btn btn-outline-secondary" id="button-addon2" type="submit">Search</button>
                </div>
                <div th:if="${not #lists.isEmpty(search)}">
                    <div class="groups">
                        <div class="group" th:each="group : ${search}">
                            <div class="group-header">
                                <img class="group-picture" th:if="${group.groupPicture} == null"
                                     th:src="@{/assets/img/blank-profile-picture.png}">
                                <div class="group-picture" th:if="${group.groupPicture} != null"
                                     th:styleappend="'background-image: url(' + |data:${group.groupPicture.getType()};base64,${group.groupPicture.getBase64()}| + ');'">
                                </div>
                                <a class="title" th:href="@{|/group/${group.id}|}" th:text="${group.name}">Group</a>
                            </div>
                            <div class="status" th:text="${group.status}">Status</div>
                        </div>
                    </div>
                    <ul class="pagination justify-content-center" th:if="${search.totalPages > 1}">
                        <li th:class="page-item">
                            <a class="page-link"
                               th:href="@{/feed(searchPageNumber=0, groupName=${searchQueryGroupName})}"><i
                                    class="bi bi-chevron-double-left"></i></a>
                        </li>
                        <li th:class="page-item" th:classappend="${searchPage.pageNumber} > 0 ? enabled : disabled">
                            <a class="page-link"
                               th:href="@{/feed(searchPageNumber=${groupsPage.pageNumber}-1, groupName=${searchQueryGroupName})}"><i
                                    class="bi bi-caret-left-fill"></i></a>
                        </li>
                        <li class="page-item"
                            th:classappend="${searchPage.pageNumber} == ${pageNumber} - 1 ? active : ''"
                            th:each=" pageNumber : ${#numbers.sequence(T(Math).max(1, searchPage.pageNumber + 1 - 1), T(Math).min(searchPage.pageNumber + 2, search.totalPages))}">
                            <a class="page-link"
                               th:href="@{/feed(searchPageNumber=${pageNumber}-1, groupName=${searchQueryGroupName})}"
                               th:text="${pageNumber}">1</a>
                        </li>
                        <li class="page-item"
                            th:classappend="${searchPage.pageNumber} + 1 < ${search.totalPages} ? enabled : disabled">
                            <a class="page-link"
                               th:href="@{/feed(searchPageNumber=${searchPage.pageNumber}+1, groupName=${searchQueryGroupName})}"><i
                                    class="bi bi-caret-right-fill"></i></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{/feed(searchPageNumber=${search.totalPages} - 1, groupName=${searchQueryGroupName})}"><i
                                    class="bi bi-chevron-double-right"></i></a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>