<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Groups</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/assets/css/header.css" rel="stylesheet" th:href="@{/assets/css/header.css}" type="text/css"/>
    <link href="../static/assets/css/groups.css" rel="stylesheet" th:href="@{/assets/css/groups.css}" type="text/css"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header(${user})"></div>
<div class="container content">
    <div class="row gx-5">
        <div class="section-header">
            <div class="section-title">Groups</div>
            <a class="btn btn-outline-primary new-group-btn" th:href="@{|/groups/new|}">
                New Group
            </a>
        </div>
        <div class="groups-section">
            <form method="get" th:action="@{/groups}">
                <div class="input-group mb-3">
                    <input required aria-describedby="button-addon2" pattern=".{3,}"
                           aria-label="Group name" class="form-control" name="groupName"
                           placeholder="Group name" th:value="${searchQueryGroupName}"
                           type="text">
                    <a class="btn btn-outline-secondary" th:href="@{/groups}">Clear</a>
                    <button class="btn btn-outline-primary" id="button-addon2" type="submit">Search</button>
                </div>
            </form>
            <div class="groups">
                <div class="group" th:each="group : ${groups}">
                    <div class="group-header">
                        <img class="group-picture" th:if="${group.groupPicture} == null"
                             th:src="@{/assets/img/blank-profile-picture.png}">
                        <div class="group-picture" th:if="${group.groupPicture} != null"
                             th:styleappend="'background-image: url(' + |data:${group.groupPicture.getType()};base64,${group.groupPicture.getBase64()}| + ');'">
                        </div>
                        <a class="title" th:href="@{|/group/${group.id}|}" th:text="${group.name}">Group</a>
                    </div>
                    <div class="status" th:text="${group.status}">Status</div>
                </div>
            </div>
            <ul class="pagination justify-content-center" th:if="${groups.totalPages > 1}">
                <li th:class="page-item">
                    <a class="page-link" th:href="@{/groups(groupsPageNumber=0, groupName=${searchQueryGroupName})}"><i
                            class="bi bi-chevron-double-left"></i></a>
                </li>
                <li th:class="page-item" th:classappend="${groupsPage.pageNumber} > 0 ? enabled : disabled">
                    <a class="page-link" th:href="@{/groups(groupsPageNumber=${groupsPage.pageNumber}-1, groupName=${searchQueryGroupName})}"><i
                            class="bi bi-caret-left-fill"></i></a>
                </li>
                <li class="page-item"
                    th:classappend="${groupsPage.pageNumber} == ${pageNumber} - 1 ? active : ''"
                    th:each=" pageNumber : ${#numbers.sequence(T(Math).max(1, groupsPage.pageNumber + 1 - 1), T(Math).min(groupsPage.pageNumber + 2, groups.totalPages))}">
                    <a class="page-link" th:href="@{/groups(groupsPageNumber=${pageNumber}-1, groupName=${searchQueryGroupName})}"
                       th:text="${pageNumber}">1</a>
                </li>
                <li class="page-item"
                    th:classappend="${groupsPage.pageNumber} + 1 < ${groups.totalPages} ? enabled : disabled">
                    <a class="page-link" th:href="@{/groups(groupsPageNumber=${groupsPage.pageNumber}+1, groupName=${searchQueryGroupName})}"><i
                            class="bi bi-caret-right-fill"></i></a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{/groups(groupsPageNumber=${groups.totalPages} - 1, groupName=${searchQueryGroupName})}"><i
                            class="bi bi-chevron-double-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>