<!DOCTYPE HTML>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Group Details</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/assets/css/header.css" rel="stylesheet" th:href="@{/assets/css/header.css}" type="text/css"/>
    <link href="../static/assets/css/group.css" rel="stylesheet" th:href="@{/assets/css/group.css}" type="text/css"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header(${user})"></div>
<div class="container content">
    <div class="group-inner">
        <div class="group-header">
            <div class="group-header-top">
                <div class="group-info-picture">
                    <img class="group-picture" th:if="${group.groupPicture} == null"
                         th:src="@{/assets/img/blank-profile-picture.png}">
                    <div class="group-picture" th:if="${group.groupPicture} != null"
                         th:styleappend="'background-image: url(' + |data:${group.groupPicture.getType()};base64,${group.groupPicture.getBase64()}| + ');'">
                        <div class="position-absolute top-0 start-100 translate-middle p-2"
                             th:if="${user.id.equals(group.owner.id)}">
                            <form th:action="@{/group/removeGroupPicture/__${group.id}__}" th:method="post">
                                <input th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}"
                                       type="hidden"/>
                                <button class="remove-pfp-btn" type="submit">
                                    <i class="bi bi-x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="group-info">
                        <div class="group-title" th:text="${group.name}">Title</div>
                        <div class="status" th:text="${group.status}">Status</div>
                    </div>
                </div>
                <div class="group-controls">
                    <form action="#" th:action="@{|/group/join/${group.id}|}" th:if="${!isUserFollowing}"
                          th:method="post">
                        <button class="btn btn-secondary" type="submit">
                            Follow
                        </button>
                    </form>
                    <a class="btn btn-primary" th:href="@{|/group/${group.id}/new|}"
                       th:if="${isUserFollowing}">New post</a>
                    <form th:action="@{|/group/leave/${group.id}|}"
                          th:if="${isUserFollowing}"
                          th:method="post">
                        <button class="btn btn-secondary" type="submit">
                            Leave
                        </button>
                    </form>
                    <a class="btn btn-success" th:href="@{|/group/edit/${group.id}|}"
                       th:if="${user.id.equals(group.getOwner().id)}">Edit</a>
                    <form th:action="@{|/group/delete/${group.id}|}" th:if="${user.id.equals(group.getOwner().id)}"
                          th:method="post">
                        <button class="btn btn-danger" type="submit">
                            Remove
                        </button>
                    </form>
                </div>
            </div>
            <button aria-controls="collapse" aria-expanded="false" class="description-btn" data-bs-target="#collapse"
                    data-bs-toggle="collapse" type="button">
                See more...
            </button>
            <div class="collapse" id="collapse">
                <div class="card card-body">
                    <div class="group-meta">
                        <div class="description" th:text="${group.description}">
                            Some placeholder content for the collapse component. This panel is hidden by default but
                            revealed when the user activates the relevant trigger.
                        </div>
                        <div class="contacts">
                            <div class="contact">
                                <a class="contact-link" th:href="@{|/user/${group.owner.id}|}"
                                   th:text="${group.owner.username}">User</a>
                                <div class="contact-name">Owner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="posts">
            <div class="post" th:each="post : ${posts}">
                <div class="post-header">
                    <a class="post-group-title" href="#" th:text="${post.groupName}">Name</a>
                    <div class="post-controls"
                         th:if="${post.userId.equals(user.id) || group.owner.id.equals(user.id)}">
                        <a class="edit-btn" th:href="@{|/group/posts/${post.id}|}">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <form th:action="@{|/group/${group.id}/delete/${post.id}|}" th:method="post">
                            <button class="remove-btn" type="submit">
                                <i class="bi bi-x"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="inner-text" th:text="${post.text}">Text</div>
                <div class="attachments" th:if="${not #lists.isEmpty(post.images)}">
                    <div th:each="image : ${post.images}">
                        <img alt="" th:src="|data:${image.getType()};base64,${image.getBase64()}|">
                    </div>
                </div>
                <div class="link" th:if="${post.linkAttachment != null}">
                    <div class="card mb-3">
                        <div th:if="${post.linkAttachment.image.isBlank() || post.linkAttachment.title.isBlank()}"
                             th:text="${post.linkAttachment.url}"
                             class="card-header text-truncate"></div>
                        <div class="row g-0">
                            <div class="col-md-4" th:if="${!post.linkAttachment.image.isBlank()}">
                                <img class="link-img img-fluid rounded-start" th:alt="${post.linkAttachment.imageAlt}"
                                     th:src="${post.linkAttachment.image}">
                            </div>
                            <div class="col-md-8 link-inner">
                                <div class="card-body">
                                    <h5 th:if="${!post.linkAttachment.title.isBlank()}" class="card-title"
                                        th:text="${post.linkAttachment.title}">Card title</h5>
                                    <h5 th:if="${post.linkAttachment.title.isBlank() && post.linkAttachment.desc.isBlank()}"
                                        class="card-title">Link</h5>
                                    <p class="card-text"
                                       th:if="${!post.linkAttachment.desc.isBlank()}" th:text="${post.linkAttachment.desc}">Desc</p>
                                    <a class="stretched-link" target="_blank" th:href="${post.linkAttachment.url}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-meta">
                    <a class="posted-by" th:href="@{|/user/${post.userId}|}" th:text="${post.userLogin}">User</a>
                    <div class="created-at" th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy HH:mm:ss')}">
                        2020-02-29
                    </div>
                </div>
                <div class="post-user-controls">
                    <div class="likes">
                        <form th:action="@{|/group/posts/react|}" th:method="post" th:object="${userReaction}">
                            <input name="userId" th:value="${user.id}" type="hidden"/>
                            <input name="postId" th:value="${post.id}" type="hidden"/>
                            <input name="like" th:value="${true}" type="hidden"/>
                            <button class="like-btn"
                                    th:classappend="${post.likedByAuthorized == true} ? disabled : active"
                                    type="submit">
                                <i class="like-icon bi bi-hand-thumbs-up-fill"></i>
                            </button>
                        </form>
                        <div class="like-count" th:text="${post.likesCount}">0</div>
                    </div>
                    <div class="dislikes">
                        <form th:action="@{|/group/posts/react|}" th:method="post" th:object="${userReaction}">
                            <input name="userId" th:value="${user.id}" type="hidden"/>
                            <input name="postId" th:value="${post.id}" type="hidden"/>
                            <input name="like" th:value="${false}" type="hidden"/>
                            <button class="dislike-btn"
                                    th:classappend="${post.likedByAuthorized == false} ? disabled : active">
                                <i class="dislike-icon bi bi-hand-thumbs-down-fill"></i>
                            </button>
                        </form>
                        <div class="dislike-count" th:text="${post.dislikesCount}">0</div>
                    </div>
                    <a aria-expanded="false" class="comment-btn" data-bs-toggle="collapse"
                       th:href="@{|#commentsCollapse${post.id}|}">
                        <i class="bi bi-chat-fill"></i>
                    </a>
                </div>
                <div class="comments" th:if="${not #lists.isEmpty(post.comments)}">
                    <div class="collapse" th:id="'commentsCollapse' + ${post.id}">
                        <div class="card mb-3" th:each="comment : ${post.comments}">
                            <form th:action="@{|/group/comments/delete|}"
                                  th:if="${comment.user.id.equals(user.id) || comment.post.group.owner.id.equals(user.id)}"
                                  th:method="post">
                                <input name="commentId" th:value="${comment.id}" type='hidden'>
                                <button class="remove-comment-btn" type='submit'><i class="bi bi-x"></i></button>
                            </form>
                            <div class="row g-0">
                                <div class="comment-user-picture-container col-md-4">
                                    <img class="comment-user-picture img-fluid rounded-start"
                                         th:if="${comment.user.profilePicture} == null"
                                         th:src="@{/assets/img/blank-profile-picture.png}">
                                    <div class="comment-user-picture" th:if="${comment.user.profilePicture} != null"
                                         th:styleappend="'background-image: url(' + |data:${comment.user.profilePicture.getType()};base64,${comment.user.profilePicture.getBase64()}| + ');'">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a class="comment-by card-title" th:href="@{|/user/${comment.user.id}|}"
                                           th:text="${comment.user.username}">User</a>
                                        <p class="card-text" th:text="${comment.text}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="comment-form" th:action="@{|/group/posts/comment|}" th:method="post"
                      th:object="${userComment}">
                    <input name='user.id' th:value="${user.id}" type='hidden'>
                    <input name='post.id' th:value="${post.id}" type='hidden'>
                    <div class="input-group mb-3">
                        <input aria-describedby="button-addon2" class="form-control" name="text"
                               placeholder="Leave a comment..." required
                               th:field="*{text}" type="text">
                        <button class="comment-send-btn btn btn-outline-secondary" type="submit">
                            <i class="bi bi-send"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <ul class="pagination justify-content-center" th:if="${posts.totalPages > 1}">
            <li th:class="page-item">
                <a class="page-link" th:href="@{/group/{groupId}(groupId = ${group.id}, postsPageNumber=0)}"><i
                        class="bi bi-chevron-double-left"></i></a>
            </li>
            <li th:class="page-item" th:classappend="${followingsPage.pageNumber} > 0 ? enabled : disabled">
                <a class="page-link"
                   th:href="@{/group/{groupId}(groupId = ${group.id}, postsPageNumber=${followingsPage.pageNumber}-1)}"><i
                        class="bi bi-caret-left-fill"></i></a>
            </li>
            <li class="page-item"
                th:classappend="${followingsPage.pageNumber} == ${pageNumber} - 1 ? active : ''"
                th:each=" pageNumber : ${#numbers.sequence(T(Math).max(1, followingsPage.pageNumber + 1 - 2), T(Math).min(followingsPage.pageNumber + 3, posts.totalPages))}">
                <a class="page-link" th:href="@{/group/{groupId}(groupId = ${group.id}, postsPageNumber=${pageNumber}-1)}"
                   th:text="${pageNumber}">1</a>
            </li>
            <li class="page-item"
                th:classappend="${followingsPage.pageNumber} + 1 < ${posts.totalPages} ? enabled : disabled">
                <a class="page-link"
                   th:href="@{/group/{groupId}(groupId = ${group.id}, postsPageNumber=${followingsPage.pageNumber}+1)}"><i
                        class="bi bi-caret-right-fill"></i></a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="@{/group/{groupId}(groupId = ${group.id}, postsPageNumber=${posts.totalPages} - 1)}"><i
                        class="bi bi-chevron-double-right"></i></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>