<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/assets/css/header.css}" href="../static/assets/css/header.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/home.css}" href="../static/assets/css/home.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"/>
</head>
<body>
<div th:replace="fragments/header :: header(null)"></div>
<div class="container content">
    <div class="row gx-5">
        <div class="col-lg-4 col-md-12">
            <form class="login-form" th:action="@{/}" method="post">

                <div th:if="${param.error}">
                    Invalid username or password.
                </div>

                <div th:if="${param.logout}">
                    You have been logged out.
                </div>

                <div class="form-outline">
                    <input name="username" type="text" id="login" class="form-control" placeholder="Login"/>
                </div>

                <div class="form-outline">
                    <input name="password" type="password" id="password" class="form-control" placeholder="Password"/>
                </div>

                <div class="login-controls">
                    <div class="text-left">
                        <button class="login-btn btn btn-primary" type="submit">Sign in</button>
                    </div>
                    <a class="sign-up" th:href="@{/registration}">Sign up</a>
                </div>

            </form>
        </div>

        <div class="col-lg-4 col-md-6 feed">
            <div th:each="post : ${posts}" class="post">
                <a th:href="@{|/group/${post.groupId}|}" th:text="${post.groupName}" class="group-title">Name</a>
                <div th:text="${post.text}" class="inner-text">Text</div>
                <div th:if="${not #lists.isEmpty(post.images)}" class="attachments">
                    <div th:each="image : ${post.images}">
                        <img th:src="|data:${image.getType()};base64,${image.getBase64()}|" alt=""/>
                    </div>
                </div>
                <div class="link" th:if="${post.linkAttachment != null}">
                    <div class="card mb-3">
                        <div th:if="${post.linkAttachment.image.isBlank() || post.linkAttachment.title.isBlank()}"
                             th:text="${post.linkAttachment.url}"
                             class="card-header text-truncate"></div>
                        <div class="row g-0">
                            <div class="col-md-4" th:if="${!post.linkAttachment.image.isBlank()}">
                                <img class="link-img img-fluid rounded-start" th:alt="${post.linkAttachment.imageAlt}"
                                     th:src="${post.linkAttachment.image}"/>
                            </div>
                            <div class="col-md-8 link-inner">
                                <div class="card-body">
                                    <h5 th:if="${!post.linkAttachment.title.isBlank()}" class="card-title"
                                        th:text="${post.linkAttachment.title}">Card title</h5>
                                    <h5 th:if="${post.linkAttachment.title.isBlank() && post.linkAttachment.desc.isBlank()}"
                                        class="card-title">Link</h5>
                                    <p class="card-text"
                                       th:if="${!post.linkAttachment.desc.isBlank()}" th:text="${post.linkAttachment.desc}">Desc</p>
                                    <a class="stretched-link" target="_blank" th:href="${post.linkAttachment.url}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-meta">
                    <a th:text="${post.userLogin}" th:href="@{|/user/${post.userId}|}" class="posted-by">User</a>
                    <div class="created-at" th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></div>
                </div>
                <div class="post-user-controls">
                    <div class="likes">
                        <i class="like-icon bi bi-hand-thumbs-up-fill"></i>
                        <div th:text="${post.likesCount}" class="like-count">0</div>
                    </div>
                    <div class="dislikes">
                        <i class="dislike-icon bi bi-hand-thumbs-down-fill"></i>
                        <div th:text="${post.dislikesCount}" class="dislike-count">0</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div th:each="group : ${groups}" class="groups">
                <div class="group">
                    <div class="group-header">
                        <img class="group-picture" th:if="${group.groupPicture} == null"
                             th:src="@{/assets/img/blank-profile-picture.png}"/>
                        <div class="group-picture" th:if="${group.groupPicture} != null"
                             th:styleappend="'background-image: url(' + |data:${group.groupPicture.getType()};base64,${group.groupPicture.getBase64()}| + ');'">
                        </div>
                        <a class="title" th:href="@{|/group/${group.id}|}" th:text="${group.name}">Group</a>
                    </div>
                    <div th:text="${group.status}" class="status">Status</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>