<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Group</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/assets/css/header.css}" href="../static/assets/css/header.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/newGroup.css}" href="../static/assets/css/newGroup.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="fragments/header :: header(${user})"></div>
<div class="container content">
    <div class="section-title">New group</div>
    <form th:method="POST" th:object="${group}" class="row g-3 new-group-form">
        <div class="col-md-4">
            <label for="inputName" class="form-label">Group Name</label>
            <input required th:field="*{name}" name="name" type="text" class="form-control" id="inputName">
        </div>
        <div class="col-md-8">
            <label for="inputStatus" class="form-label">Status</label>
            <input th:field="*{status}" name="status" type="text" class="form-control" id="inputStatus">
        </div>
        <div class="input-group">
            <span class="input-group-text">Description</span>
            <textarea th:field="*{description}" name="text" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <input type="hidden" name="ownerId" th:value="${user.id}" />
        <input type="hidden" th:value="${_csrf.getToken()}" th:name="${_csrf.getParameterName()}" />
        <div class="controls">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
</body>
</html>