<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/assets/css/header.css}" href="../static/assets/css/header.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/registration.css}" href="../static/assets/css/registration.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
<div th:replace="fragments/header :: header(${null})"></div>
<div class="container content">
    <div class="section-title">Registration</div>
    <form th:method="POST" th:action="@{/registration}" th:object="${user}" class="row g-3 user-registration-form">
        <div class="col-md-12">
            <label for="inputEmail4" class="form-label">Login</label>
            <input required th:field="*{username}" th:value="*{username}" name="username" type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-12">
            <label for="email">Email address</label>
            <input required type="email" th:field="*{email}" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="col-md-12">
            <label for="password">Password</label>
            <input required th:field="*{password}" type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="col-md-12">
            <label for="confirmationPassword">Confirm password</label>
            <input required th:field="*{confirmPassword}" type="password" name="confirmationPassword" class="form-control" id="confirmationPassword" placeholder="Confirm password">
        </div>
        <div class="col-md-4">
            <label for="inputFirstName" class="form-label">First Name</label>
            <input th:field="*{firstName}" th:value="*{firstName}" name="firstName" type="text" class="form-control" id="inputFirstName">
        </div>
        <div class="col-md-4">
            <label for="inputMiddleName" class="form-label">Middle Name</label>
            <input th:field="*{middleName}" th:value="*{middleName}" name="middleName" type="text" class="form-control" id="inputMiddleName">
        </div>
        <div class="col-md-4">
            <label for="inputLastName" class="form-label">Last Name</label>
            <input th:field="*{lastName}" th:value="*{lastName}" name="lastName" type="text" class="form-control" id="inputLastName">
        </div>
        <div class="col-md-4">
            <label for="birthdate">Date of birth</label>
            <div class="input-group date">
                <input th:field="*{birthday}" th:value="*{#temporals.format(birthday, 'yyyy-mm-dd')}" type="date" class="form-control" id="birthdate" autocomplete="off"/>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </form>
</div>
</body>
</html>