<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update post</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/assets/css/header.css" rel="stylesheet" th:href="@{/assets/css/header.css}" type="text/css"/>
    <link href="../static/assets/css/updatePost.css" rel="stylesheet" th:href="@{/assets/css/updatePost.css}"
          type="text/css"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header(${user})"></div>
<div class="container content">
    <div class="group-inner">
        <div class="group-header">
            <div class="group-header-top">
                <div class="group-info">
                    <div class="group-title" th:text="${group.name}">Title</div>
                    <div class="status" th:text="${group.status}">Status</div>
                </div>
            </div>
            <button aria-controls="collapse" aria-expanded="false" class="description-btn" data-bs-target="#collapse"
                    data-bs-toggle="collapse" type="button">
                See more...
            </button>
            <div class="collapse" id="collapse">
                <div class="card card-body">
                    <div class="group-meta">
                        <div class="description" th:text="${group.description}">
                            Some placeholder content for the collapse component. This panel is hidden by default
                            but
                            revealed when the user activates the relevant trigger.
                        </div>
                        <div class="contacts">
                            <div class="contact">
                                <a class="contact-link" th:href="@{|/user/${group.owner.id}|}"
                                   th:text="${group.owner.username}">User</a>
                                <div class="contact-name">Owner</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card info-label">
            <div class="card-body info-label-inner">
                <h5 class="card-title">Edit the post</h5>
            </div>
        </div>
        <form class="post" enctype="multipart/form-data" th:action="@{|/group/posts|}" th:method="POST"
              th:object="${post}">
            <h5 class="post-group-title" th:text="${group.name}">Name</h5>
            <div class="input-group">
                <span class="input-group-text">Post Text</span>
                <textarea aria-label="With textarea" class="form-control" name="text" th:field="*{text}"
                          th:value="*{text}"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label" for="imageFiles">Images</label>
                <input accept="image/*" class="form-control" id="imageFiles" multiple name="imageFiles" type="file">
            </div>
            <div id="links">
                <div class="link" th:if="*{linkAttachment != null}">
                    <div class="card mb-3">
                        <div class="card-header text-truncate"
                             th:if="${post.linkAttachment.image.isBlank()}"
                             th:text="*{linkAttachment.url}"></div>
                        <div class="row g-0">
                            <button id="remove-link" type='button'><i class="bi bi-x"></i></button>
                            <div class="col-md-4 link-img" th:if="${!post.linkAttachment.image.isBlank()}">
                                <img class="img-fluid rounded-start" th:alt="*{linkAttachment.imageAlt}"
                                     th:src="*{linkAttachment.image}">
                            </div>
                            <div class="col-md-8 link-inner">
                                <div class="card-body">
                                    <h5 class="card-title" th:if="${!post.linkAttachment.title.isBlank()}"
                                        th:text="${post.linkAttachment.title}">Card title</h5>
                                    <h5 class="card-title"
                                        th:if="${post.linkAttachment.title.isBlank() && post.linkAttachment.desc.isBlank()}">Link</h5>
                                    <p class="card-text"
                                       th:if="${!post.linkAttachment.desc.isBlank()}"
                                       th:text="${post.linkAttachment.desc}">Desc</p>
                                    <a target="_blank" th:href="${post.linkAttachment.url}">Visit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="*{linkAttachment != null}">
                    <input name='linkAttachment.id' th:value="*{linkAttachment.id}" type='hidden'>
                    <input name='linkAttachment.domain' th:value="*{linkAttachment.domain}" type='hidden'>
                    <input name='linkAttachment.url' th:value="*{linkAttachment.url}" type='hidden'>
                    <input name='linkAttachment.title' th:value="*{linkAttachment.title}" type='hidden'>
                    <input name='linkAttachment.desc' th:value="*{linkAttachment.desc}" type='hidden'>
                    <input name='linkAttachment.image' th:value="*{linkAttachment.image}" type='hidden'>
                    <input name='linkAttachment.imageAlt' th:value="*{linkAttachment.imageAlt}" type='hidden'>
                </div>
            </div>
            <div class="post-meta">
                <h6 class="posted-by" th:text="${post.getUser().username}">User</h6>
                <div class="created-at" th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy HH:mm:ss')}">
                    1970-01-01
                </div>
            </div>
            <input name='id' th:value="*{id}" type='hidden'>
            <div class="controls">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </form>
    </div>
</div>

<script>
    $("#remove-link").on("click", () => {
        $("#links").empty();
    });

    const expression = /[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)?/gi;
    const regex = new RegExp(expression);

    $("#text").on("paste", (event) => {
        if ($("#links").find(".card").length > 0) {
            return;
        }

        let paste = (event.clipboardData || window.clipboardData || event.originalEvent.clipboardData).getData('text');

        if (regex.test(paste)) {
            let matches = paste.match(regex);

            const requestUrl = '[[${baseUrl}]]' + '/share?url=' + matches[0];

            $.getJSON(requestUrl, function (json) {
                if (json.image.length === 0 || json.title.length === 0) {
                    $("#links").append(
                        `<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                          <button type='button' id="remove-link"><i class="bi bi-x"></i></button>
                          <div style='padding-right: 20px;' class="card-header text-truncate">${json.url}</div>
                          <div class="card-body">
                            <h5 class="card-title">${json.title || "Link"}</h5>
                            <p class="card-text">${json.desc}</p>
                            <a class="card-text" target="_blank" href="${json.url}">Visit</a>
                          </div>
                        </div>
                        <input type='hidden' name='linkAttachment.domain' value='${json.domain}'>
                        <input type='hidden' name='linkAttachment.url' value='${json.url}'>
                        <input type='hidden' name='linkAttachment.title' value='${json.title.replace(/'/g, '&#x27;')}'>
                        <input type='hidden' name='linkAttachment.desc' value='${json.desc.replace(/'/g, '&#x27;')}'>
                        <input type='hidden' name='linkAttachment.image' value='${json.image}'>
                        <input type='hidden' name='linkAttachment.imageAlt' value='${json.imageAlt}'>`
                    );
                } else {
                    $("#links").append(
                        `<div class="card mb-3" style="max-width: 540px;">
                          <div class="row g-0">
                          <button type='button' id="remove-link"><i class="bi bi-x"></i></button>
                            <div class="col-md-4">
                              <img src="${json.image}" class="img-fluid rounded-start" alt="${json.imageAlt}">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">${json.title}</h5>
                                <p class="card-text">${json.desc}</p>
                                <a target="_blank" href="${json.url}">Visit</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <input type='hidden' name='linkAttachment.domain' value='${json.domain}'>
                        <input type='hidden' name='linkAttachment.url' value='${json.url}'>
                        <input type='hidden' name='linkAttachment.title' value='${json.title.replace(/'/g, '&#x27;')}'>
                        <input type='hidden' name='linkAttachment.desc' value='${json.desc.replace(/'/g, '&#x27;')}'>
                        <input type='hidden' name='linkAttachment.image' value='${json.image}'>
                        <input type='hidden' name='linkAttachment.imageAlt' value='${json.imageAlt}'>`
                    );
                }

                $("#remove-link").on("click", () => {
                    $("#links").empty();
                });
            });
        }
    });
</script>
</body>
</html>