<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/assets/css/header.css" rel="stylesheet" th:href="@{/assets/css/header.css}" type="text/css"/>
    <link href="../static/assets/css/user.css" rel="stylesheet" th:href="@{/assets/css/user.css}" type="text/css"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header(${authorizedUser})"></div>
<div class="container content">
    <div class="row gx-5">
        <div class="col-lg-8 col-md-12">
            <div class="card user">
                <div class="card-body user-inner">
                    <img class="pfp" th:if="${user.profilePicture} == null"
                         th:src="@{/assets/img/blank-profile-picture.png}">
                    <div class="pfp" th:if="${user.profilePicture} != null"
                         th:styleappend="'background-image: url(' + |data:${user.profilePicture.getType()};base64,${user.profilePicture.getBase64()}| + ');'">
                        <div class="position-absolute top-0 start-100 translate-middle p-2"
                             th:if="${user.id.equals(authorizedUser.id)}">
                            <form action="/user/removeProfilePicture" th:method="post">
                                <input th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}"
                                       type="hidden"/>
                                <button class="remove-pfp-btn" type="submit">
                                    <i class="bi bi-x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="user-names">
                        <h5 class="card-title"
                            th:if="${user.firstName != null || user.middleName != null || user.lastName != null}"
                            th:text="|${user.firstName} ${user.middleName} ${user.lastName}|">
                                FirstName MiddleName LastName</h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${user.username}">Login</h6>
                    </div>
                    <div class="bday" th:if="${user.birthday != null}">
                        <h6 class="card-subtitle bday-label">Birthday</h6>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${user.birthday}">1 Jan 1970</h6>
                    </div>
                </div>
            </div>

            <div class="posts">
                <div class="card info-label">
                    <div class="card-body info-label-inner">
                        <h5 class="card-title" th:if="${#authentication.name.equals(user.username)}">Your posts</h5>
                        <h5 class="card-title" th:unless="${#authentication.name.equals(user.username)}">User's posts</h5>
                    </div>
                </div>
                <div class="post" th:each="post : ${userPosts}">
                    <a class="group-title" th:href="@{|/group/${post.group.id}|}" th:text="${post.group.name}">Name</a>
                    <div class="inner-text" th:text="${post.text}">Text</div>
                    <div class="attachments" th:if="${not #lists.isEmpty(post.images)}">
                        <div th:each="image : ${post.images}">
                            <img alt="" th:src="|data:${image.getType()};base64,${image.getBase64()}|">
                        </div>
                    </div>
                    <div class="link" th:if="${post.linkAttachment != null}">
                        <div class="card mb-3">
                            <div class="card-header text-truncate"
                                 th:if="${post.linkAttachment.image.isBlank() || post.linkAttachment.title.isBlank()}"
                                 th:text="${post.linkAttachment.url}"></div>
                            <div class="row g-0">
                                <div class="col-md-4" th:if="${!post.linkAttachment.image.isBlank()}">
                                    <img class="link-img img-fluid rounded-start"
                                         th:alt="${post.linkAttachment.imageAlt}"
                                         th:src="${post.linkAttachment.image}">
                                </div>
                                <div class="col-md-8 link-inner">
                                    <div class="card-body">
                                        <h5 class="card-title" th:if="${!post.linkAttachment.title.isBlank()}"
                                            th:text="${post.linkAttachment.title}">Card title</h5>
                                        <h5 class="card-title"
                                            th:if="${post.linkAttachment.title.isBlank() && post.linkAttachment.desc.isBlank()}">Link</h5>
                                        <p class="card-text"
                                           th:if="${!post.linkAttachment.desc.isBlank()}"
                                           th:text="${post.linkAttachment.desc}">Desc</p>
                                        <a class="stretched-link" target="_blank"
                                           th:href="${post.linkAttachment.url}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-meta">
                        <div class="created-at"
                             th:text="${#temporals.format(post.createdAt, 'dd-MM-yyyy HH:mm:ss')}"></div>
                    </div>
                </div>
                <ul class="pagination justify-content-center" th:if="${userPosts.totalPages > 1}">
                    <li th:class="page-item">
                        <a class="page-link" th:href="@{/user/{userId}(userId = ${user.id}, userPostsPageNumber=0)}"><i
                                class="bi bi-chevron-double-left"></i></a>
                    </li>
                    <li th:class="page-item" th:classappend="${userPostsPageDto.pageNumber} > 0 ? enabled : disabled">
                        <a class="page-link"
                           th:href="@{/user/{userId}(userId = ${user.id}, userPostsPageNumber=${userPostsPageDto.pageNumber}-1)}"><i
                                class="bi bi-caret-left-fill"></i></a>
                    </li>
                    <li class="page-item"
                        th:classappend="${userPostsPageDto.pageNumber} == ${pageNumber} - 1 ? active : ''"
                        th:each=" pageNumber : ${#numbers.sequence(T(Math).max(1, userPostsPageDto.pageNumber + 1 - 2), T(Math).min(userPostsPageDto.pageNumber + 3, userPosts.totalPages))}">
                        <a class="page-link" th:href="@{/user/{userId}(userId = ${user.id}, userPostsPageNumber=${pageNumber}-1)}"
                           th:text="${pageNumber}">1</a>
                    </li>
                    <li class="page-item"
                        th:classappend="${userPostsPageDto.pageNumber} + 1 < ${userPosts.totalPages} ? enabled : disabled">
                        <a class="page-link"
                           th:href="@{/user/{userId}(userId = ${user.id}, userPostsPageNumber=${userPostsPageDto.pageNumber}+1)}"><i
                                class="bi bi-caret-right-fill"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/user/{userId}(userId = ${user.id}, userPostsPageNumber=${userPosts.totalPages} - 1)}"><i
                                class="bi bi-chevron-double-right"></i></a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-lg-3 col-md-12">
            <div class="card info-label">
                <div class="card-body info-label-inner">
                    <h5 class="card-title" th:if="${#authentication.name.equals(user.username)}">You're following</h5>
                    <h5 class="card-title" th:unless="${#authentication.name.equals(user.username)}">User's following</h5>
                </div>
            </div>
            <div class="groups">
                <div class="group" th:each="group : ${userFollowings}">
                    <div class="group-header">
                        <img class="group-picture" th:if="${group.groupPicture} == null"
                             th:src="@{/assets/img/blank-profile-picture.png}">
                        <div class="group-picture" th:if="${group.groupPicture} != null"
                             th:styleappend="'background-size: cover; background-image: url(' + |data:${group.groupPicture.getType()};base64,${group.groupPicture.getBase64()}| + ');'">
                        </div>
                        <a class="title" th:href="@{|/group/${group.id}|}" th:text="${group.name}">Group</a>
                    </div>
                    <div class="status" th:text="${group.status}">Status</div>
                </div>
            </div>
            <ul class="pagination justify-content-center" th:if="${userFollowings.totalPages > 1}">
                <li th:class="page-item">
                    <a class="page-link" th:href="@{/user/{userId}(userId = ${user.id}, followingsPageNumber=0)}"><i
                            class="bi bi-chevron-double-left"></i></a>
                </li>
                <li th:class="page-item" th:classappend="${followingsPageDto.pageNumber} > 0 ? enabled : disabled">
                    <a class="page-link"
                       th:href="@{/user/{userId}(userId = ${user.id}, followingsPageNumber=${followingsPageDto.pageNumber}-1)}"><i
                            class="bi bi-caret-left-fill"></i></a>
                </li>
                <li class="page-item"
                    th:classappend="${followingsPageDto.pageNumber} == ${pageNumber} - 1 ? active : ''"
                    th:each=" pageNumber : ${#numbers.sequence(T(Math).max(1, followingsPageDto.pageNumber + 1 - 1), T(Math).min(followingsPageDto.pageNumber + 2, userFollowings.totalPages))}">
                    <a class="page-link" th:href="@{/user/{userId}(userId = ${user.id}, followingsPageNumber=${pageNumber}-1)}"
                       th:text="${pageNumber}">1</a>
                </li>
                <li class="page-item"
                    th:classappend="${followingsPageDto.pageNumber} + 1 < ${userFollowings.totalPages} ? enabled : disabled">
                    <a class="page-link"
                       th:href="@{/user/{userId}(userId = ${user.id}, followingsPageNumber=${followingsPageDto.pageNumber}+1)}"><i
                            class="bi bi-caret-right-fill"></i></a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       th:href="@{/user/{userId}(userId = ${user.id}, followingsPageNumber=${userFollowings.totalPages} - 1)}"><i
                            class="bi bi-chevron-double-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>