<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit user</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="../static/assets/css/header.css" rel="stylesheet" th:href="@{/assets/css/header.css}" type="text/css"/>
    <link href="../static/assets/css/userEdit.css" rel="stylesheet" th:href="@{/assets/css/userEdit.css}"
          type="text/css"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header(${user})"></div>
<div class="container content">
    <div class="section-title">Update user info</div>
    <form class="row g-3 user-edit-form" enctype="multipart/form-data" th:method="POST" th:object="${user}">
        <div class="col-md-12">
            <label class="form-label" for="inputEmail4">Login</label>
            <input disabled class="form-control" id="inputEmail4" name="username" th:field="*{username}" th:value="*{username}"
                   type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="inputFirstName">First Name</label>
            <input class="form-control" id="inputFirstName" name="firstName" th:field="*{firstName}" th:value="*{firstName}"
                   type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="inputMiddleName">Middle Name</label>
            <input class="form-control" id="inputMiddleName" name="middleName" th:field="*{middleName}" th:value="*{middleName}"
                   type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label" for="inputLastName">Last Name</label>
            <input class="form-control" id="inputLastName" name="lastName" th:field="*{lastName}" th:value="*{lastName}"
                   type="text">
        </div>
        <div class="col-md-4">
            <label for="birthdate">Date of birth</label>
            <div class="input-group date">
                <input autocomplete="off" class="form-control" id="birthdate"
                       th:field="*{birthday}" th:value="*{#temporals.format(birthday, 'yyyy-mm-dd')}" type="date"/>
                <div class="input-group-append">
                    <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="mb-3 user-picture-input">
            <img class="pfp" th:if="${user.profilePicture} == null"
                 th:src="@{/assets/img/blank-profile-picture.png}">
            <div class="pfp" th:if="${user.profilePicture} != null"
                 th:styleappend="'background-image: url(' + |data:${user.profilePicture.getType()};base64,${user.profilePicture.getBase64()}| + ');'">
            </div>
            <div class="mb-3">
                <label class="form-label" for="pfp">Profile picture</label>
                <input accept="image/*" class="form-control" id="pfp" name="pfp" type="file">
            </div>
        </div>
        <input th:field="*{id}" th:value="*{id}" type="hidden"/>
        <input th:name="${_csrf.getParameterName()}" th:value="${_csrf.getToken()}" type="hidden"/>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>
</body>
</html>